#main { 
    margin: 0 0 0 70px !important;
    padding: 10px 40px 30px 0 !important;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px; 
    line-height: 18px;
    text-align: justify;
} 
    
    #main a {
    color: #3b7687; 
    text-decoration: none;
    }
    
    #main a:hover {
    color: #444444;
    }

