#main{ 
    margin: 0 0 900px 180px;
    padding: 35px 40px 400px 0;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px; 
    line-height: 18px;
    text-align: justify;
} 

